.searchPage__header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-self: flex-start;
    padding: 30px 30px 25px 30px;
    border-bottom: 1px solid lightgray;
    background: #fff;
    z-index: 100;
}

.searchPage__logo {
    height: 50px;
    margin-right: 50px;
    object-fit: contain;
}

.searchPage__headerBody>.search {
    align-items: unset;
}

.searchPage__headerBody>.search>.search__input {
    margin-top: 0;
    /* width: 717px; */
    /* width: unset; */
    margin: unset;
    max-width: unset;
}

.searchPage__options {
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 20px;
}

.searchPage__optionsLeft,
.searchPage__optionsRight {
    display: flex;
}

.searchPage__optionsRight {
    margin-left: 80px;
}

.searchPage__options a,
.searchPage__optionsLeft a,
.searchPage__optionsRight a {
    text-decoration: none;
    color: gray;
    pointer-events: none;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__optionIcon {
    margin-right: 6px;
    transform: scale(0.9);
}

.searchPage__option a {
    margin-right: 5px;
}

.searchPage__results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchPage__resultsCount {
    font-size: 16px;
    color: #70757a;
}

.searchPage__result {
    margin: 20px 0;
}

.searchPage__result a {
    text-decoration: none;
}

.searchPage__resultLink {
    display: flex;
    align-items: center;
}

.searchPage__resultDescription {
    display: flex;
}

.searchPage__resultImage {
    object-fit: contain;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-right: 10px;
}

.searchPage__resultTitle {
    text-decoration: none;
}